global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['prometheus:9090'] 

  - job_name: 'node'
    static_configs:
      - targets: ['node_exporter:9100']

  - job_name: 'grpc_server'
    static_configs:
      - targets: ['grpc_server:2112']

#  - job_name: 'local_monitor'
#    static_configs:
#      - targets: [ 'host.docker.internal:8088' ]

  - job_name: 'counter_docker'
    static_configs:
      - targets: [ 'counter_service:8088' ]

  - job_name: 'httpserver_coroutine'
    static_configs:
      - targets: [ 'httpserver_coroutine:8088' ]

  - job_name: 'cassandra'
    static_configs:
      - targets: [ 'cassandra:9042' ]

  - job_name: 'grpc_compute_netty'
    static_configs:
      - targets: [ 'grpc_compute_netty_service:9091' ]

  - job_name: 'grpc_compute_vertx'
    static_configs:
      - targets: [ 'grpc_compute_vertx_service:9093' ]

  - job_name: 'grpc_load_test_client'
    static_configs:
      - targets: [ 'host.docker.internal:9092' ]

  - job_name: 'grpc_vertx_load_test_client'
    static_configs:
      - targets: [ 'host.docker.internal:9094' ]